/* Place Your Custom Styles Here */
.icon-box .icon-box-icon {
	color: #ef4136;
}
.list-display-inline-block .list-group-item{
	display:inline-block;
	min-width:100%;
}

.clients-row .client img {
	opacity: 0.8;
}